progressif/main/default/flows/FL_auto_sharing_opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>ACJ_vide</name>
        <label>ACJ vide ?</label>
        <locationX>239</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>sharing_reason_ACJ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ACJ non vide</defaultConnectorLabel>
        <rules>
            <name>ACJvide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChargeACJ_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BO_vide</targetReference>
            </connector>
            <label>ACJ vide</label>
        </rules>
    </decisions>
    <decisions>
        <name>BO_vide</name>
        <label>BO vide ?</label>
        <locationX>239</locationX>
        <locationY>219</locationY>
        <defaultConnector>
            <targetReference>sharing_reason_BO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BO non vide</defaultConnectorLabel>
        <rules>
            <name>BOvide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChargeBO_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>BO vide</label>
        </rules>
    </decisions>
    <interviewLabel>FL_auto_sharing_opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_auto_sharing_opp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>sharing_reason_ACJ</name>
        <label>sharing reason ACJ</label>
        <locationX>471</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>BO_vide</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>ChargeACJ_ID</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityShare</object>
    </recordCreates>
    <recordCreates>
        <name>sharing_reason_BO</name>
        <label>sharing reason BO</label>
        <locationX>475</locationX>
        <locationY>223</locationY>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>ChargeBO_ID</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityShare</object>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ACJ_vide</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChargeACJ_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChargeBO_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
