progressif/main/default/flows/FL_newofferversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Generation_de_la_variable_des_criteres</name>
        <label>Génération de la variable des criteres</label>
        <locationX>79</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>Nouveau_critere</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Variable_de_boucle_d_enregistrement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>boucle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Id_nouvelle_offre</name>
        <label>Id nouvelle offre</label>
        <locationX>641</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>Id_de_l_offre</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Variable_de_l_offre.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>boucle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MAJ_de_l_offre_sur_les_criteres</name>
        <label>MAJ de l&#39;offre sur les criteres</label>
        <locationX>83</locationX>
        <locationY>292</locationY>
        <assignmentItems>
            <assignToReference>Variable_de_boucle_d_enregistrement.Offer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id_de_l_offre</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Variable_de_boucle_d_enregistrement.PreviousOfferCriterion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Variable_de_boucle_d_enregistrement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Variable_de_boucle_d_enregistrement.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generation_de_la_variable_des_criteres</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MAJ_du_nom_de_l_offre</name>
        <label>MAJ du nom de l&#39;offre</label>
        <locationX>1107</locationX>
        <locationY>46</locationY>
        <assignmentItems>
            <assignToReference>Variable_de_l_offre.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Variable_de_l_offre.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Variable_de_l_offre.PreviousOffer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Variable_de_l_offre.StartingDateValidity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_debut_de_validite</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Variable_de_l_offre.EndingDateValidity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_de_fin_de_validite</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_offer</targetReference>
        </connector>
    </assignments>
    <description>Modif j+1 écran VBR + update message d&#39;erreur VR
+ correction des fautes d&#39;orthographe dans les labels</description>
    <formulas>
        <name>lienoffre</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;https://sacem--salsadev4.lightning.force.com/&quot; + {!Id_de_l_offre} ,{!Name})</expression>
    </formulas>
    <interviewLabel>FL_newofferversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_newofferversion</label>
    <loops>
        <name>boucle</name>
        <label>boucle</label>
        <locationX>326</locationX>
        <locationY>286</locationY>
        <assignNextValueToReference>Variable_de_boucle_d_enregistrement</assignNextValueToReference>
        <collectionReference>Variablesdescriteresdeloffre</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MAJ_de_l_offre_sur_les_criteres</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Creation_des_criteres</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_offer</name>
        <label>Créer une offre</label>
        <locationX>1109</locationX>
        <locationY>286</locationY>
        <connector>
            <targetReference>Id_nouvelle_offre</targetReference>
        </connector>
        <inputReference>Variable_de_l_offre</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Creation_des_criteres</name>
        <label>Création des criteres</label>
        <locationX>526</locationX>
        <locationY>572</locationY>
        <connector>
            <targetReference>Ecran_confirmation</targetReference>
        </connector>
        <inputReference>Nouveau_critere</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Recuperation_des_champs</name>
        <label>Récupération des champs</label>
        <locationX>346</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_offer</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Offer__c</object>
        <outputReference>Variable_de_l_offre</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OfferNumber__c</queriedFields>
        <queriedFields>StartingDateValidity__c</queriedFields>
        <queriedFields>EndingDateValidity__c</queriedFields>
        <queriedFields>CollectionFamily__c</queriedFields>
        <queriedFields>Scale__c</queriedFields>
        <queriedFields>ActivityAreas__c</queriedFields>
        <queriedFields>TypeProcess__c</queriedFields>
        <queriedFields>ValueOfferFamily__c</queriedFields>
        <queriedFields>Thumbnail__c</queriedFields>
        <queriedFields>MainThumbnail__c</queriedFields>
        <queriedFields>PreviousOffer__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>ContractDocument__c</queriedFields>
        <queriedFields>AuthorizationDocument__c</queriedFields>
        <queriedFields>PeriodicityOffer__c</queriedFields>
        <queriedFields>OpportunityProcess__c</queriedFields>
        <queriedFields>BillingTerms__c</queriedFields>
        <queriedFields>LegalForm__c</queriedFields>
        <queriedFields>PreviousOfferStartingDate__c</queriedFields>
        <queriedFields>PreviousOfferExpirationDate__c</queriedFields>
        <queriedFields>DistributionMethods__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Recuperation_des_criteres</name>
        <label>Récuperation des critères</label>
        <locationX>811</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MAJ_du_nom_de_l_offre</targetReference>
        </connector>
        <filters>
            <field>Offer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OfferCriterion__c</object>
        <outputReference>Variablesdescriteresdeloffre</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Offer__c</queriedFields>
        <queriedFields>CriterionType__c</queriedFields>
        <queriedFields>FormatCriterion__c</queriedFields>
        <queriedFields>criterion__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>OfferBusinessProcess__c</queriedFields>
        <queriedFields>Mandatory__c</queriedFields>
        <queriedFields>MessageValueMissing__c</queriedFields>
        <queriedFields>Maximum__c</queriedFields>
        <queriedFields>MessageRangeOverFlow__c</queriedFields>
        <queriedFields>Minimum__c</queriedFields>
        <queriedFields>MessageRangeUnderFlow__c</queriedFields>
        <queriedFields>OrderDisplay__c</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
        <queriedFields>CriterionToSendToOPA__c</queriedFields>
        <queriedFields>OPACriterionName__c</queriedFields>
        <queriedFields>TargetCriterion__c</queriedFields>
        <sortField>OrderDisplay__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>Ecran_confirmation</name>
        <label>Ecran confirmation</label>
        <locationX>901</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;Votre offre {!Name} a bien été créée ainsi que ses critères.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_offer</name>
        <label>Nouvelle offre</label>
        <locationX>548</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Recuperation_des_criteres</targetReference>
        </connector>
        <fields>
            <name>Rappel</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Rappel des dates de validité de l&#39;offre précédente : &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Date de début de validité :&lt;/u&gt; {!Variable_de_l_offre.StartingDateValidity__c}&lt;/p&gt;&lt;p&gt;&lt;u&gt;Date de fin de validité :&lt;/u&gt; {!Variable_de_l_offre.EndingDateValidity__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Variable_de_l_offre.Name</elementReference>
            </defaultValue>
            <fieldText>Nom de l&#39;offre</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_debut_de_validite</name>
            <dataType>Date</dataType>
            <fieldText>Date de début de validité</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;La date de début de validité ne doit être antérieure ni à la date du jour ou du lendemain.&lt;/p&gt;&lt;p&gt;Elle ne peut pas non plus être antérieur à la date de début ou de fin de l&#39;offre précédente.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Date_debut_de_validite} &gt; (TODAY()+1) &amp;&amp; {!Date_debut_de_validite} &gt; {!Variable_de_l_offre.PreviousOfferStartingDate__c} &amp;&amp; {!Date_debut_de_validite} &gt; {!Variable_de_l_offre.PreviousOfferExpirationDate__c}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Date_de_fin_de_validite</name>
            <dataType>Date</dataType>
            <fieldText>Date de fin de validité</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;La date de fin de validité doit être supérieure à la date du début de validité&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Date_de_fin_de_validite} &gt;{!Date_debut_de_validite}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Recuperation_des_champs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id_de_l_offre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Nouveau_critere</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OfferCriterion__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Variable_de_boucle_d_enregistrement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OfferCriterion__c</objectType>
    </variables>
    <variables>
        <name>Variable_de_l_offre</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Offer__c</objectType>
    </variables>
    <variables>
        <name>Variablesdescriteresdeloffre</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OfferCriterion__c</objectType>
    </variables>
</Flow>
