progressif/main/default/flows/FL_TestOPA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AppelOPA</name>
        <label>AppelOPA</label>
        <locationX>328</locationX>
        <locationY>130</locationY>
        <actionName>OPAService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Test_response_code</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Erreur_OPA_Unknown</targetReference>
        </faultConnector>
        <inputParameters>
            <name>authorizationIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>OPAServiceMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ratesCreated</assignToReference>
            <name>ratesCreated</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>OPAServiceResponseCode</assignToReference>
            <name>resultCode</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Test_response_code</name>
        <label>Test response code</label>
        <locationX>501</locationX>
        <locationY>133</locationY>
        <defaultConnector>
            <targetReference>Flow_OK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>KO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OPAServiceResponseCode</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Erreur_OPA</targetReference>
            </connector>
            <label>KO</label>
        </rules>
    </decisions>
    <interviewLabel>FL_TestOPA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_TestOPA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Erreur_OPA</name>
        <label>Erreur OPA</label>
        <locationX>768</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OPAErrorDescription</name>
            <fieldText>&lt;p&gt;Oups. Le service OPA a retourné l&#39;erreur suivante : {!OPAServiceResponseCode} :&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!OPAServiceMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Erreur_OPA_Unknown</name>
        <label>Erreur OPA Inconnue</label>
        <locationX>327</locationX>
        <locationY>346</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrMessage</name>
            <fieldText>&lt;p&gt;Oups, Il y a eu un problème ! :&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>&lt;p&gt;Oups, il y a eu un problème : &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Flow_OK</name>
        <label>Flow_OK</label>
        <locationX>765</locationX>
        <locationY>17</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfOK</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 255, 0);&quot;&gt;{!ratesCreated} tarif(s) créé(s) !&lt;/span&gt;&lt;span style=&quot;color: rgb(14, 244, 44);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>103</locationX>
        <locationY>131</locationY>
        <connector>
            <targetReference>AppelOPA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OPAServiceMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OPAServiceResponseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Nombre de tarifs créés</description>
        <name>ratesCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
